@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    font-family: 'Questrial', sans-serif;
}
html, body{
    height:100%;
    margin:auto;
}
body{
    max-width: max-content;
    margin: auto;
/*    margin-top: 5%;*/
    background-color: #EDC7B7;
}

button {
    position:relative;
    z-index:9999;
    border-radius:10px;
    margin-top:10px;
    margin-left:10px;
    border:0px;
    background-color: #AC3B61
}

h6{
    color:white;
/*    font-size:15px;*/
}

#container {
    width:700px;
    height:450px;
    margin: 0px auto;
    border: 10px #AC3B61 solid;
    position:relative;
    border-radius:20px;    
}
#video{
    width: 700px;
    height: 450px;
    background-color: #666;
    position:absolute;
    top:0;
    left:0;
    border-radius:10px; 
}
canvas{
    width:700px;
    height:450px;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    border-radius:10px; 
}
#loading{
    position:absolute;
    top:0;
    left:0;
}
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
#center{   
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
footer{
    background-color: #EED8C8;
    padding: 5px;
    margin:10px;
    border-radius:30px;
    text-align: center;
}
table{
    margin: auto;
}
h1{
    font-size:40px;
    margin:5px;
    color: #AC3B61;
}
.infobody{
    margin: 40px;
}