@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');*/

:root {

  --light: #EDC7B7;
  --dark: #AE3780;
    /*  --light: #D9B596;*/
/*  --dark: #858C4A;*/
}

*{
    font-family: 'Montserrat', serif;
/*    font-weight: 300;*/
/*    color: #AC3B61;*/
}
html, body{

    height:100%;
    margin:auto;
}
body{
    max-width: max-content;
    margin: auto;
/*    margin-top: 5%;*/
    background-color: var(--light);
/*    background-color: #28262C;*/
}
.title{
    background-color: var(--dark);
    font-weight: 700;
}
button {
    position:relative;
    z-index:9999;
    border-radius:10px;
    margin-top:10px;
    margin-left:10px;
    border:0px;
    background-color: var(--dark);
}

h6{
    color:white;
/*    font-size:15px;*/
}

.borderimage{
    border: 10px var(--dark) solid;
	border-radius:20px; 
}
#container {
/*    width:700px;*/
/*    height:450px;*/
    margin: 0px auto;

    position:relative;
       
}
#label{
    margin-bottom: -20px;
}
#video{
/*    width: 700px;*/
/*    height: 450px;*/
    background-color: #666;
    position:absolute;
    top:0;
    left:0;
    border-radius:10px; 
}
canvas{
/*    width:700px;*/
/*    height:450px;*/
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    border-radius:10px; 
}
#loading{
    position:absolute;
    top:20%;
    left:20%;
 
}
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
}

#loader{
    position: absolute;
    top: 42%;
    left: 42%;
}
.loading-state{   
    border: 12px solid var(--dark); 
    border-radius: 50%; 
    border-top: 12px solid #CE5D83; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite;
     
}

.dormant-state{
}

#loading-text{
    color: var(--dark);
/*    margin-top:-20px;*/
}

footer{
    background-color: #EED8C8;
    padding: 5px;
    margin:10px;
    border-radius:30px;
    text-align: center;
}
table{
    margin: auto;
}
h1{
    font-size:40px;
    margin:5px;
    color: var(--dark);
}
.infobody{
    margin: 40px;
}

/* #photolist{
	overflow:hidden; 
	overflow-y:scroll;
	/* height:200px; 
} */

.scroller{
	overflow:hidden; 
	overflow-y:scroll;
}

#photosection{
	margin: 50px;
}




